services:
  mysqldb:
    image: mysql:8.0
    container_name: mysql-container
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DB}
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - spring-net

  redisdb:
    image: redis:alpine
    container_name: redis-container
    ports:
      - "${REDIS_PORT}:6379"
    volumes:
      - redis_data:/data
    networks:
      - spring-net

  app:
    build: .
    container_name: spring-boot-app
    ports:
      - "8082:8082"
    depends_on:
      - mysqldb
      - redisdb
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysqldb:3306/${MYSQL_DB}
      SPRING_DATASOURCE_USERNAME: ${MYSQL_USER}
      SPRING_DATASOURCE_PASSWORD: ${MYSQL_PASSWORD}
      SPRING_DATA_REDIS_HOST: redisdb
      SPRING_DATA_REDIS_PORT: ${REDIS_PORT}
    networks:
      - spring-net

volumes:
  mysql_data:
  redis_data:
networks:
  spring-net:
    driver: bridge